* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

h1{
  margin-bottom: 20px;
  color: red;
}

/* Classes dinâmicas*/
.red-title{
  font-size: 50px;
  color: red;
  background-color: black;
}